@import "onedark.css"; 

@define-color active @yellow;

* {
  margin: 0px;
  padding: 0px;
  font-family: "FiraCode Nerd Font";
  font-size: 16px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: rgba(0, 0, 0, 0.4);
  color: @text;
  transition-property: background-color;
  transition-duration: 0.1s;
}

#window {
  margin: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

button {
  border: none;
  border-radius: 0;
  letter-spacing: 5px; /* when there are multiple programs in the same workspace */
}

button:hover {
  background: inherit;
  color: @active;
  border-top: 2px solid @active;
}

#workspaces button {
  padding: 0px 12px;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
  color: @active;
  border-top: 2px solid @active;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: @active;
}

#workspaces button.urgent {
  background-color: @red;
}

#clock {
  color: @mauve;
  border-bottom: 2px solid @mauve;
}

#pulseaudio {
  color: @teal;
  border-bottom: 2px solid @teal;
}

#network {
  color: @maroon;
  border-bottom: 2px solid @maroon;
}

#idle_inhibitor {
  margin-right: 12px;
  color: #7cb342;
}

#idle_inhibitor.activated {
  color: @red;
}

#battery {
  color: @green;
  border-bottom: 2px solid @green;
}
